body {
    display: grid;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.container
{
    background-color: lightblue;
    padding:1.5rem;
    font-size: 2rem;
    width: 200px;
}
.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap:20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.buttons i {
    cursor: pointer;
}

